* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  text-decoration: none;
  background-color: #f5f5f5;
}

main {
  max-width: 550px;
  margin: auto;
}

.contact-us {
  width: 343px;
  padding: 1rem 1.5rem;
  border-radius: 16px;
  margin: auto;
}
.contact-us h1,
.contact-us p {
  text-align: center;
}
.contact-us h1 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #101828;
}
.contact-us p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
  color: #525252;
}

.contact-form-img {
  width: 343px;
  height: 220px;
  border-radius: 16px;
  padding: 1rem 1.5rem;
  margin: 1.5rem auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.1);
}

.contact-form-img img {
  width: 100%;
  height: 100%;
}

.form {
  width: 343px;
  margin: auto;
}

.form label {
  font-weight: 400;
  font-size: 1rem;
  color: #525252;
}

.form input,
textarea {
  width: 100%;
  color: #979797;
  padding: 0.75rem 2.3rem;
  border-radius: 8px;
  border: 1px solid #bababa;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 400;
}

.form textarea {
  padding: 0.75rem 1rem;
}

.icons {
  position: relative;
}

.icons img {
  position: absolute;
  top: 40px;
  left: 10px;
  width: 24px;
  height: 24px;
}

.form input:focus,
.form textarea:focus {
  outline-color: #2b7a78;
}

.form-btn {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  padding: 0.75rem 2rem;
  background-color: #2b7a78;
  border: none;
  color: #fefefe;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.contact-details {
  width: 343px;
  margin: 2.5rem auto;
}

.contact-detail {
  width: 100%;
  height: 264px;
  margin: 1.5rem auto;
  text-align: center;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.1);
}

.contact-detail-img {
  width: 38px;
  height: 38px;
  margin: auto;
}
.contact-detail img {
  width: 100%;
  height: 100%;
}

.contact-info {
  width: 167px;
  margin: 0 auto;
  padding: 1.5rem 0 0.5rem 0;
}

.contact-info h2 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #272727;
  line-height: 36px;
}

.contact-info p {
  font-weight: 400;
  font-size: 0.75rem;
  color: #272727;
  line-height: 20px;
}

.contact-detail a {
  font-weight: 600;
  font-size: 1rem;
  color: #2b7a78;
  line-height: 24px;
}

.social-media {
  width: 200px;
  margin: 0 auto;
}

.social-media h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
  text-align: center;
  margin-bottom: 2rem;
}

.social-media-icons {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.social-media-icons img {
  width: 100%;
  height: 100%;
}

/* MEDIA QUERIES AND RESPONSIVENESS */

@media screen and (min-width: 768px) {
  main,
  .contact-form,
  .contact-form-img,
  .form,
  .contact-details {
    width: 550px;
  }

  .contact-form-img {
    box-shadow: none;
  }
}

@media screen and (min-width: 1024px) {
  main {
    min-width: 1024px;
  }
  .contact-us {
    width: 628px;
    padding: 2rem 0;
  }
  .contact-us h1 {
    font-size: 3.5rem;
    color: #000;
    padding-bottom: 0.5rem;
  }
  .contact-us p {
    width: 628px;
    font-size: 1.25rem;
    color: #525252;
    line-height: 32px;
  }

  .contact-form {
    width: 1024px;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    border-radius: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.1);
  }

  .contact-form-img {
    width: 486px;
    height: 456px;
    padding: 0;
    margin: 0;
    box-shadow: none;
  }

  .form {
    width: 400px;
    margin: 0;
  }
  .form-button {
    width: 117px;
    height: 48px;
  }

  .contact-details {
    width: 1024px;
    height: 392px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact-detail {
    width: 330px;
    box-shadow: none;
    margin: 0;
  }

  .contact-detail-img {
    width: 64px;
    height: 64px;
    margin: auto;
  }

  .social-media {
    width: 480px;
  }

  .social-media h3 {
    font-size: 2rem;
  }

  .social-media-icons {
    margin: 0;
    height: 72px;
  }

  .social-media-icons img {
    width: 60px;
    height: 60px;
  }
}

@media screen and (min-width: 1440px) {
  main {
    min-width: 1440px;
  }

  .contact-form {
    margin: 0 auto;
    width: 1044px;
  }

  .contact-details {
    width: 1440px;
    padding: 4rem 7.5rem;
  }

  .contact-detail {
    width: 360px;
  }
}
