@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

/* font-family: 'Mulish', sans-serif;

font-family: 'Poppins', sans-serif; */

:root{
    --primary-color:#72A6A5;
    --body-color:#F5F5F5;
    --section-heading-color:#272727;
    --section-size:24px;
    --text-color:#525252;
    --img-bg: #B8D3D2;
    --alert:#F9C3B4;
    --place-holder-icon-color:#979797;
    --place-icon-size:18px;
    --primary-font:'Mulish', sans-serif;
    --alt-font:'Poppins', sans-serif;
    --text-size:14px;
    --margin-ss:1rem;
    --margin-sm:1.5rem;
    --margin-sx:2rem;
    --margin-sl:2.5rem;
    --margin-xl:3rem;
    --padding-ss:1rem;
    --padding-sm:1.5rem;
    --padding-sx:2rem;
    --padding-sl:2.5rem;
    --padding-xl:3rem;
    --btn-padding:8px 32px;
    --btn-padding-two:8px 32px;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: var(--primary-font);
    font-size: var(--text-size);
    overflow-x: hidden;
}
img{
    max-width: 100%;
}
button,
input{
    border: none;
}
input{
    border: 1px solid #BABABA;
    border-radius: 8px;
    background-color:#FEFEFE;
}
input[type='checkbox'] {
    accent-color:#2B7A78;
    border-color: 1.9px solid red;
}
input:focus{   
    border: 1.9px solid #72A6A5;
    outline: none;
}
input.inp{
    width: 24px;
    height: 24px;
}

button{
    cursor: pointer;
}


.section_title{
    font-size: var(--section-size);
    color:var(--section-heading-color);
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    margin:1rem;
}
.section_title_normal{
    text-align: center;
    font-size: var(--text-size);
    font-family: var( --alt-font);
    color: var(--text-color)
}
.section_title_normal a{
    font-weight: 600;
    color: #2B7A78;
}
.container{
    max-width: 996px;
    margin-left: .5rem;
    margin-right: .5rem;
}
.container_two{
    max-width: 1200px;
    margin-left: var( --margin-ss);
    margin-right: var( --margin-ss);
}
.header{
    height: 84px;
    background-color: #F5F5F5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.nav{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 84px;
    padding-bottom: 10px;
}
.logo a{
    font-size: var(--section-size);
    color: #2B7A78;
    font-family: 700;
}
.btn{
    position: relative;
    font-weight: 700;
    min-width: 84px;
    /* max-width: 120px; */
    /* height: 40px; */
    border: 1px solid #2B7A78;
    background: none;
    border-radius: 8px;
    font-family: var(--primary-font);
}
.btn::before{
    position: absolute;
    content: "";
    background-color:#07302e;
    width: 117px;
    height: 38px;
    border-radius:7px;
    opacity:0;
    top: 0;
    left: 0;
    transition: all .4s;
}

.btn:active:before{
    position: absolute;
    content: "";
    width: 117px;
    height: 38px;
    border-radius:7px;
    opacity: 1;
    top: 0;
    left: 0;
    transition:all .5s;
}
.link_{
    font-size: var(--text-size);
    color:#2B7A78;
    font-weight: 600;
}
.btn_alt{
    position: relative;
    font-weight: 700;
    background-color: #2B7A78;
    min-width: 150px;
    max-width: 500px;
    height: 48px;
    margin-top: 5px;
    font-family: var(--primary-font);
    cursor: pointer;
    border-radius: 8px;
    margin-top: .5rem;
}

.btn_alt::before{
    position: absolute;
    content: "";
    background-color: #196360;
    width: 100%;
    height: 47px;
    border-radius:7px;
    opacity:0;
    top: 0;
    left: 0;
    transition: all .8s;
}
.btn_alt:active:before{
    position: absolute;
    content: "";
    min-width: 149px;
    max-width: 440px;
    height: 47px;
    border-radius:7px;
    opacity: 1;
    top: 0;
    left: 0;
    transition:0;
}


.btn_altt{
    padding:var(--btn-padding-two);
    border-radius: 8px;
    background-color:#2B7A78;
    color: #fefefe;
}
.btn_altt:hover {
    background-color:#196360;
    transition: all .5s;
}

.btn_alt a{
    color: #FEFEFE;
}
.sign_up_section{
    display: grid;
    place-items: center;
}
.form_container{
    width: 100%;
    justify-self: center;
}
.hero_img{
    justify-self: center;
    border-radius: 10px 0 0 10px; 
    max-width: 65%;
}
.split{
    width: 90%;
    min-width: 50%;
    height: 856px;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color:var(--body-color);
    border-radius: 10px;
}
.split_form{
    display: flex;
    flex-direction: column;
}
.img_part{
    border-radius: 10px 10px 0 0; 
    display: grid;
   background-color:var(--body-color);
}
.form_part{
    background-color:#FEFEFE;
    padding:10px 14px ;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    row-gap: 1.5rem;
    margin-top: 2rem;
}
.sign_up_section{
    padding: 3rem 0;
}
.form{
    display: flex;
    flex-direction: column;
}

.input{
    margin-bottom: 5px;
}
.form_field{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10px;  
}
.svg_con{
    position: relative;
}
.svg_con_two{
    display: flex;
    align-items: center;
}

.input_field{
   width: 100%;
   padding: 12px 40px;
   margin-top: 1px;
   position: relative;
}
.x_icon{
    position: absolute;
    width: var( --place-icon-size);
    left: 1rem;
    top: .7rem;
}
.oth{
    position: relative;
}
.x_icon_two{
    position: relative;
    width: var( --place-icon-size);
    left: 90%;
    bottom: 2.2rem;
    cursor: pointer;
}
.check_area{
    margin:-22px 0 8px 0;
}
.form_field .pass_err{
    margin: -15px 0 22px 0;
}
.check_area .svg_con{
    display: flex;
}
.check_area .pass_err{
    margin:6px 0 0 0;
}
.inp{
    margin-right: .5rem;
    cursor: pointer;
}
.input_error{
    position: absolute;
    width: var( --place-icon-size);
    visibility: hidden;
    right: 1rem;
}
.pass_err p{
    width:100%;
}
.terms{
    color: #2B7A78;
    font-weight: 600;
    font-size:var(--text-size);
}
.terms_two{
    font-size: var(--text-size);
}
.form_bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:-.5rem 0 .5rem 0;
}
.sign_up_other{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--margin-sl);
}
.btn_other{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
   /* padding: 12px 10px;*/
    min-width: 140px;
    max-width: 184px;
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    color: var(--text-color);
    border: 1px solid #2B7A78;
    border-radius: 8px;
    background:none;
    font-family: var(--primary-font);
}
.z_icon{
    width: var( --place-icon-size);
}
.xx{
    margin-bottom: .3rem;
}
small.pass_err{
    margin: .3rem 0 1rem;
}
small{
    margin-top: .3rem;
    font-size: var(--text-size);
    background-color: #F9C3B4;
    padding: 10px 12px;
    border-radius: 8px;
    display:none;
    align-items: center;
    column-gap: 8px;
    color:  #ED4A1F;
}

.svg_con.success small{
    display: none;
}
.svg_con.error small{
    display: flex;
}
.svg_con_two.error ~ small{
    display: flex;
}
.svg_con_two.success ~ small{
    display: none;
}

@media screen and (max-width:350px) {
    .btn_other{
        min-width: 100px;
        max-width: 124px;
    }
}
@media screen and (min-width:500px) {
    .split{
        width: 400px;
    }
    .btn_other{
        min-width: 145px;
        max-width: 184px;
    }
    .terms,
    .terms_two{
        font-size: 16px;
    }
    .form_part{
        padding:16px 32px ;
    }
}

@media screen and (min-width:996px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    .section_title{
        margin-bottom:var(--margin-sx);
    }
    .form_part,
    input{
        background-color:#FEFEFE;
    }
    .img_part{
       background-color:#72A6A5;
    }
    .form_part{
        border-radius: 0 30px 30px 0;
        margin-top:0 ;
    }
  .split{
      width:90%;
      flex-direction: row;
      border-radius: 30px;
  }
  .img_part{
      border-radius: 30px 0 0 30px; 
      width: 406px;
  }
  small.pass_err{
    margin-top: -1.5rem;
}
  .form_part{
      width: 590px;
      padding:32px 96px;
      min-height: 712px;
     
  }
  .form_field .pass_err{
    margin-top: -22px;
}
  .hero_img{
      border-radius: 0;
      align-self: center;
      max-width: 344.3px;
      height: 373.03px;
  }
 .input_field{
    padding: 12px 45px;
 }

 input.inp{
     width: 24px;
     height: 24px;
 }
 .checkbox{
    align-items: center;
}
.btn{
    font-size:16px;
 }
 input::placeholder{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #979797;
  }
  .nav{
    padding: 1.5rem 0;
   }
  .header{
    box-shadow: none;
  }
  .btn_altt a{
    color:#F5F5F5;
  }
}
@media screen and (min-width:1200px) {
    .split{
        width: 80%;
    }
    .container_two{
        margin-left: auto;
        margin-right: auto;
    }
    .btn_other{
        min-width: 184px;
        max-width: 184px;
    }
}


