* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    line-height: 1.5;
    font-family: 'Mulish',
        sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    background: #F5F5F5;
    color: #525252;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #2B7A78;
    font-weight: 600;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 1.5rem;
}

header {
    margin-top: 2rem;
}

header button {
    color: #2B7A78;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-family: 'Mulish',
        sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    background: none;
    border: 1px solid #2B7A78;
    color: #F5F5F5;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 0.5rem;
    transition: all 0.25s linear;
}

header button:hover {
    background: #2B7A78;
    color: #F5F5F5;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    max-width: 996px;
    width: 90%;
    border-radius: 2rem;
    background: #FEFEFE;
}

.forgot-img {
    max-width: 406px;
    flex: 1;
    background: #B8D3D2;
    border-radius: 2rem 0 0 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2rem;
}

.forgot-img img {
    border-radius: 2rem 0 0 2rem;
}

.form-wrapper {
    flex: 1;
    margin-top: 4rem;
    padding: 0 2rem;
}

.form-text {
    max-width: 400px;
    margin: 0 auto 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: center;
}

p {
    text-align: center;

}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: .5rem;
}

input {
    width: 100%;
    padding: .8rem 0 .8rem 3rem;
    display: inline-block;
    border: 1px solid #979797;
    border-radius: .5rem;
    font-size: 1.125rem;
    color: #272727;
    font-family: 'Mulish',
        sans-serif;
    outline: none;
}

input[type="email"]:focus {
    border: 1px solid #2B7A78;
    outline: 1.2px solid #2B7A78;
}

.input-email {
    position: absolute;
    left: 18px;
    bottom: -43px;
    z-index: 2;
}

.error-message {
    background: #F9C3B4;
    color: #ED4A1F;
    font-size: .95rem;
    padding: .3rem .9rem;
    border-radius: .5rem;
    margin-top: .4rem;
    display: flex;
    align-items: center;
    gap: .6rem;
    text-align: left;
    display: none;
}

.error-icon {
    transform: translateY(2px);
}

input[type="submit"] {
    background: #2B7A78;
    color: #FEFEFE;
    font-size: 1rem;
    border: 1px solid #2B7A78;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    margin: 1rem 0 1rem;
}

.login-link {
    display: block;
    width: 7.5rem;
    margin: .5rem auto 0;
    padding-bottom: 3rem;
}

@media screen and (max-width: 699px) {
    .main-container {
        flex-direction: column;
        max-width: 450px;
    }

    .forgot-img {
        max-width: 100%;
        border-radius: 0;
        background: #F5F5F5;
        padding-bottom: 3rem;
    }

    .forgot-img img {
        border-radius: 2rem 2rem 0 0;
        height: 250px;
        width: 100%;
    }

    .form-wrapper {
        padding: 0 1rem;
    }

    .login-link {
        margin-bottom: 5rem;
    }
}